<!DOCTYPE html>
<html>
    <body>
        <p>{{full_name}} 様</p> 
        <p>あなたの認証コードは次の通りです：{{OTP}}</p> 
        <p>このコードをサインアップページに入力し、登録を完了してください。</p> 
        <p>よろしくお願い申し上げます。</p> 
        <p>株塾チーム</p>
    </body>
</html>