<!DOCTYPE html>
<html>
    <header><strong>あなたのアカウントは削除されました</strong></header>
    <body>
        <p>{{full_name}} 様</p>
        <p>このたび、株塾のアカウントが削除されたことをお知らせいたします。この措置は、当社のポリシーおよび手順に従って実施されました。</p>
        <p>万が一、この措置が誤って行われたとお考えの場合や、削除の理由についてさらに詳細を確認したい場合は、info@kabu-juku.com までご連絡ください。</p>
        <p>何卒ご理解いただきますようお願い申し上げます。ご質問やご不明な点がございましたら、いつでもお気軽にお問い合わせください。</p>
        <p>株塾をご利用いただき、誠にありがとうございました。</p>
        <p>株塾チーム</p>
    </body>
</html>
