<!DOCTYPE html>
<html>
    <header><strong>アカウントに関する重要なお知らせ</strong></header>
    <body>
        <p>{{full_name}} 様</p>
        <p>このたび、株塾のアカウントが一時的に無効化されたことをお知らせいたします。この措置は、当社のポリシーおよび手順に基づき実施されました。</p>
        <p>アカウントを再有効化できるのは、管理者のみとなっております。この措置に関してご質問がある場合や、誤って実施されたとお考えの場合は、info@kabu-juku.com までご連絡いただけますようお願いいたします。</p>
        <p>何卒ご理解いただきますようお願い申し上げます。ご心配やご不明な点がございましたら、どうぞお気軽にお問い合わせください。</p>
        <p>この件にご注意いただき、ありがとうございます。</p>
        <p>株塾チーム</p>
    </body>
</html>