<!DOCTYPE html>
<html>
    <header><strong>アクセス復元 – 株塾へお帰りなさい</strong></header>
    <body>
        <p>{{full_name}} 様</p>
        <p>このたびは、株塾のアカウントが再有効化されたことをお知らせいたします。これにより、通常通りプラットフォームをご利用いただけます。</p>
        <p>アカウントにアクセスするには、以下のリンクをクリックしてください：<a href="https://app.firmbond.jp/login">こちらをクリック</a></p>
        <p>ご不明な点やサポートが必要な場合は、info@kabu-juku.com までお気軽にお問い合わせください。</p>
        <p>再びご利用いただけることを大変嬉しく思います。株塾でのご利用を全力でサポートさせていただきます。</p>
        <p>よろしくお願い申し上げます。</p>
        <p>株塾チーム</p>
    </body>
</html>