<!DOCTYPE html>
<html>
<body>
<p>{{full_name}} 様,</p> 
<p>パスワードをリセットするためのリンクは以下の通りです: <a href="{{reset_link}}">リセット用リンク</a></p>  
<p>このリンクをクリックすると、パスワードリセットページに移動します。有効期限は1時間です。</p> 
<p>よろしくお願いいたします。</p> 
<p>株塾チーム</p>
</body>
</html>