<!DOCTYPE html>
<html>
    <header><strong>アカウント登録に関するお知らせ</strong></header>
    <body>
        <p>{{full_name}} 様</p>
        <p>このたびは株塾にご関心をお寄せいただき、誠にありがとうございます。慎重に審査を行った結果、現時点ではアカウント登録のリクエストを承認することができませんでしたことをお知らせいたします。</p>
        <p>こちらの結果に誤りがあるとお考えの場合や、さらなる詳細についてご確認を希望される場合は、info@kabu-juku.com までお気軽にお問い合わせください。喜んで対応させていただきます。</p>
        <p>株塾にご関心をお寄せいただきましたことに、心より感謝申し上げます。</p>
        <p>よろしくお願い申し上げます。</p>
        <p>株塾チーム</p>
    </body>
</html>